@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', Arial;
    margin: 0;
    padding: 0;
    background-color: #f8f0f0;
    padding-top: 90px;
    padding-left: 140px;
}
/* header */
.header {
    height: 80px;
    color: #fff;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.left {
     display: flex;
     align-items: center;
}
.ham {
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.youtube {
    height: 55px;
    /* position: relative; */ 
}
.middle {
    flex: 1;
    margin-left:70px;
    margin-right:30px;
    display: flex;
    align-items: center;
}
.search-bar {
    flex: 1;
    height: 35px;
    font-size: 17px;
    border: 1px solid lightgrey;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.1);
}
.search-bar::placeholder {
    font-size: 17px;
    font-family: 'Roboto', Arial;
    padding-left: 10px;
}
.search-icon {
    width: 60px;
    height: 40px;
    border: 1px solid lightgrey;
    margin-right: 12px;
    position: relative;
}
.search-icon img {
    width: 20px;
}
.mic-icon {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    margin-right: 20px;
}
.mic-icon img {
    width: 20px;
}
.right {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.video-camera {
    width: 35px;
}
.apps {
    width: 30px;
}
.notification {
    width: 30px;
}
.notifications-icon-container {
    position: relative;
} 
.notifications-count {
    position: absolute;
    color: #fff;
    width: 30px;
    height: 20px;
    font-size: 13px;
    background-color: #e20c0c;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -4px;
    right: -12px;
}
.meandwifey {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-right: 30px;
}

/* tooltip */
.tooltip {
    position: absolute;
} 
.rheyan-pic {
    position: relative;
} 
.rheyan-pic .tooltip {
    position: absolute;
    background-color: #6b6868;
    width: 150px;
    height: 55px;
    margin-left: 220px;
    bottom: -25px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
}
.search-icon .tooltip {
    position: absolute;
    background-color: #6b6868;
    width: 100px;
    height: 25px;
    margin-left: -20px;
    bottom: -45px;
    padding-top: 8px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
}
.mic-icon .tooltip {
    position: absolute;
    background-color: #6b6868;
    width: 120px;
    height: 35px;
    margin-left: -20px;
    bottom: -25px;
    padding-top: 4px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
}
.notification .tooltip {
    position: absolute;
    color: blue;
}
.search-icon:hover .tooltip,
.mic-icon:hover .tooltip,
.rheyan-pic:hover .tooltip {
    opacity: 1;
    transition: all 0.15s ease;
}

/* thumbnail time */
.video-preview .time {
    width: 62px;
    height: 25px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    margin-top: -40px;
    margin-left: 280px;
}
.video-preview .time {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

/* sidebar */
.sidebar {
    background-color: #fff;
    width: 90px;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 79px;
}
.sidebar-link {
    height: 75px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sidebar-link img {
    width: 27px;
    margin-bottom: 12px;
   
}
.sidebar-link div {
    color: #000;
    font-size: 14px;
  
}
.sidebar-link:hover {
    background-color: lightgrey;
   
}
.rheyan-pic img {
   width: 40px;
}

.rheyan-pic span {
    color: yellow;
}

/* bottom-bar */
.bottom-bar {
    background-color: #c6c1c1;
    color: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
}
.bottom-bar-link {
    height: 43px;
    cursor: pointer;
    
}
.bottom-bar-link img {
    width: 35px;
    color: #fff;
    padding: 6px 20px;
    
}
.bottom-bar-link:hover {
    background-color: #a9a6a6;
}

/* thumbnails */

.container {
    margin-left: 18px;
    margin-top: 30px;  
}
.video-preview,
.profile-pic,
.profile-pic .pic,
.stats,
.video-title {
    display: inline-block;
    vertical-align: top;
}
.video-preview .thumbnails {
    width: 350px;
}
.profile-pic {
    vertical-align: top;
}
.profile-pic .pic {
    border-radius: 50px;
    width: 35px;
    margin-top: 15px;
}
.video-preview .stats {
    width: 320px;
}
.video-title {
    font-weight: bold;
    font-size: 18px;
}
.video-author,
.video-stats {
    color: rgb(96, 96, 96);
    margin-top: 0;
}
.video-stats span,
#bday {
    color: red;
    font-weight: bold;
}
#bday {
    text-transform: uppercase;
    letter-spacing: 3px;
}
.ham,
.youtube,
.search-icon,
.mic-icon,
.camera,
.apps,
.notification,
.meandwifey,
.video-preview .thumbnails {
    cursor: pointer;
}
.thumbnails:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-out;

/* media queries */
}
@media(max-width:768px) {

    .ham {
        margin-right: 2px;
    }
    .middle input {
       display: none;
    }
    .middle {
        margin-left: 3px;
        margin-right: 2px;
    }
    .middle button {
        width: 40px;
    }
    .search-icon {
        margin-left: 10px;
        margin-right: 3px;
    }
    .mic-icon {
        margin-right: 2px;
        margin-left: 8px;
    }
    .header {
        justify-content: center;
    }
    .sidebar-link {
        height: 70px;
    }
    .video-preview .thumbnails {
        width: 90%;
    }
    body {
        padding-left: 27px;
        
   }
    .sidebar {
        display: none;
    }
    .bottom-bar {
        opacity: 1;
        
    }
    .video-preview .time {
        margin-left: 250px;
    }

}

